---
const { class: className } = Astro.props;
import { Image } from "astro:assets";
import { Button } from "@/components/ui/button";
import { SignIn, SignOut } from 'auth-astro/components'
import KittyAstronaut from "../../assets/KittyAstronaut.svg";
import { getSession } from 'auth-astro/server';
const session = await getSession(Astro.request);
---

<div
  class:list={[
    "pattern py-6 w-full md:w-3/4 md:max-w-8xl min-h-dynamic_hero flex flex-col items-center justify-center",
    className,
  ]}
>
  <div class="flex flex-col-reverse">
    <!--<div class="flex flex-col gap-4 md:w-1/2 p-8 justify-center items-center">-->
      <h1 class="text-pretty text-center md:text-4xl lg:text-5xl tracking-wide">
        {
          session ? (
              <SignOut class="text-primary">
                Sign Out
              </SignOut>
          ) : (
              <SignIn provider="google" class="text-primary">
                Sign In
              </SignIn>
          )
        }
      </h1>
    <!--</div>-->
    <!--<div class="hidden md:flex w-1/2 justify-center align-middle">-->
    <!--  <Image src={KittyAstronaut} alt="404" />-->
    <!--</div>-->
  </div>
</div>

<style></style>