---
import HeadSEO from "@/components/core/HeadSEO.astro";
import Header from "@/components/core/Header.astro";

import type { BaseLayoutProps } from "@/lib/types";
import { capitalizeFirstLetter } from "@/lib/utils";

import { LOCALE, SITE } from "@/config";

const { title, description, ogImage } = Astro.props as BaseLayoutProps;
---

<!doctype html>
<html lang=`${LOCALE.lang ?? "en"}` class="scroll-smooth" data-theme="pvLight">
  <head>
    <HeadSEO
      title=`${title ? capitalizeFirstLetter(title) : SITE.title}`
      description={description}
      ogImage={ogImage}
    />
  </head>
  <body>
    <Header />
    <main class="flex flex-1 flex-col justify-center items-center px-4 bg-base-200 h-screen">
      <slot />
    </main>
  </body>
</html>
